body {
    max-width: 1440px;
    margin: 0 auto;
}

.booki-header-logo {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    font-style: normal;
}

.booki-header-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 67px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
    height: 83px;
}

.booki-header-boutton {
    display: flex;
    align-items: flex-end;
    height: 35px;
    background: linear-gradient(
      to bottom,
      #0065fc 0%,
      #0065fc 2px,
      transparent 0px
    )
    no-repeat;
  background-size: 0 100%;
}

.booki-header-boutton:hover {
    background-size: 100% 100%;
}

.booki-header-boutton a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: black;
} 

.booki-header-boutton a:hover {
    color: #0065FC;
    font-weight: 500;
}